@page
@model RazorPagesMovie.Pages.Comments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDTO.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentDTO.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDTO.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentDTO.Post.PostId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CommentDTO.CommentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
